body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

header span img {
  width: 120px;
}

.container {
  max-width: 95vw;
  min-height: 80vh;
  margin: 30px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.podium {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.position {
  width: calc(12% - 20px);
  background-color: #3498db;
  text-align: center;
  color: #fff;
  padding: 20px 5px;
  border-radius: 3px;
  color: black;
}

.position h3 {
  font-size: 18px;
  font-family: "Reddit Mono";
  font-weight: 600;
}

.position h5 {
  font-size: 14px;
  color: #333;
  font-family: "Reddit Mono";
  font-weight: bolder;
  text-decoration: underline;
  margin-top: 0;
  margin-bottom: 8px;
  letter-spacing: 0px;
  text-align: center;
}

.position:nth-child(1) {
  min-height: 15vh;
  background-color: #ffe4e1;
}

.position:nth-child(2) {
  min-height: 20vh;
  background-color: #d2bead;
}

.position:nth-child(3) {
  min-height: 30vh;
  background-color: #d8f79a;
}

.position:nth-child(4) {
  min-height: 40vh;
  background-color: #a2a0a1;
}

.position:nth-child(5) {
  min-height: 50vh;
  background-color: #add5fa;
}

.position:nth-child(6) {
  min-height: 60vh;
  background-color: #a0d995;
}

.position:nth-child(7) {
  min-height: 45vh;
  background-color: #ffeebc;
}

.position:nth-child(8) {
  min-height: 35vh;
  background-color: #ff9c9c;
}

.position:nth-child(9) {
  min-height: 30vh;
  background-color: #bc98f3;
}

.position:nth-child(10) {
  min-height: 15vh;
  background-color: #c5d084;
}

.posicao {
  font-size: 50px;
  font-weight: bold;
  display: flex;
  justify-content: space-around;
}

.colocation {
  text-align: center;
  font-size: 30px;
  padding-left: 10%;
  font-weight: bold;
}

footer {
  display: flex;
  align-items: end;
}

footer a {
  color: black;
  text-decoration: none;
  padding-bottom: 15px;
}

footer a:hover {
  color: #3498db;
}
