@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

* {
    font-family: "Roboto Slab", serif;
    -webkit-user-drag: none;
    box-sizing: border-box;
    word-break: break-word;
    font-size: larger;
    user-select: none;
    font-weight: 400;
    color: #000;
    padding: 0;
    margin: 0;
    border: 0;
}

html {
    padding: 1vh 2vh;
    height: 100vh;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    justify-content: space-between;
    background-color: #EEE;
    flex-direction: column;
    position: relative;
    display: flex;
    color: #222;
    height: 100%;
    width: 100%;
}

section {
    padding: 10px;
    width: 100%;
}

#ferramentas{
    flex-direction: column;
    height: fit-content;
    position: absolute;
    width: fit-content;
    display: flex;
    right: 0;
    gap: 2vh;
    top: 1%;
}

#ferramentas input {
    height: 5vh;
    width: auto;
}

#rank {
    justify-content: space-between;
    flex-direction: column;
    display: flex;
    height: 92vh;
}

#titulo {
    justify-content: space-around;
    align-content: center;
    font-size: 0.8rem;
    display: flex;
    height: 20%;
}

#titulo img {
    object-fit: contain;
    height: 100%;
    width: auto;
}

#titulo div {
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
    display: flex;
}

#classificar {
    justify-content: space-between;
    overflow-x: scroll;
    align-items: end;
    height: 80%;
    width: 100%;
}
/* Colunas : Cor, fonte, padding, etc */
#classificar div {
    background: linear-gradient(0deg, #013 35%, #08B 100%);
    text-align: center;
    font-weight: 900;
    font-size: 0.5em;
    padding: 10px;

}