@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

* {
    font-family: "Roboto Slab", serif;
    -webkit-user-drag: none;
    box-sizing: border-box;
    font-size: larger;
    user-select: none;
    font-weight: 400;
    color: #000;
    padding: 0;
    margin: 0;
    border: 0;
}

html {
    height: 100vh;
    width: 100vw;
    padding: 1vh;
}

section {
    width: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #EEE;
    position: relative;
    color: #222;
    height: 100%;
    width: 100%;
}

#botoes {
    display: flex;
    justify-content: space-between;
}

#botoes input {
    height: 5vh;
    width: 5vh;
}

#rank {
    padding: 4vw 2vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#titulo {
    justify-content: space-between;
    align-content: center;
    display: flex;
    height: 10%;
}

#titulo img {
    object-fit: contain;
    height: 15vw;
    height: auto;
    width: 15vw;
}

#titulo div {
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
    font-size: 1em;
    display: flex;
}

#classificar {
    justify-content: space-around;
    align-items: end;
    display: none;
    height: 70%;
    width: 100%;
}

#classificar div {
    background: linear-gradient(0deg, rgba(50, 200, 250, 1) 35%, rgba(0, 150, 250, 1) 100%);
    font-size: 0.5em;
    text-align: center;
    padding: 10px;
    font-weight: 900;
    color: #222;
}

#c6 {
    height: 40%;
}

#c4 {
    height: 60%;
}

#c2 {
    height: 80%;
}

#c1 {
    height: 100%;
}

#c3 {
    height: 70%;
}

#c5 {
    height: 50%;
}

#c7 {
    height: 35%;
}